body {
    background-image: url(/Assets/Images/papyrus/papyrus.png)
}

header {
    border-bottom: solid 1px #afafaf;
    background-color: white;
    padding: 0px;
    margin: 0px auto 20px auto;
    width: 100vw;
}

h1 {
    border-bottom: solid 2px #afafaf;
    color: teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px 0px;
}

img {
    padding-bottom: 20px;
    max-width: 100vw;
    width: inherit;
}

a {
    color: #777777;
}

article {
    padding: 10px;
}

p {
    display: inline-block;
}

ul {
    align-content: center
}

label {
    color: #777777;
    font-size: 14pt;
    margin-left: 4px;
}

.main_content {
    background-color: white;
    border: 1px solid #afafaf;
    margin: 0 auto 40px;
    width: 100vw;
}

.img-container {
    display: inline-block;
    max-width: 300px;
    position: relative;
    text-align: center;

}

.portfolio-image {
    display: inline-block;
    max-width: 300px;
}

.project-title {
    background-color: #4aaaa5;
    color: #ffffff;
    display: block;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 14pt;
    font-style: none;
    line-height: 40px;
    position: absolute;
    top: 75%;
    align-content: center;
    width: 100%;
}

#footer {
    background-color: #777777;
    border-top: 5px solid teal;
    color: #afafaf;
    font-size: 10px;
    line-height: 40px;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100vw;
}

.no-padding {
    padding: 0px;
}

#name {
    background-color: teal;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 10px;
}

#navbar {
    width: 100vw;
}

#submit {
    background-color: #4aaaa5;
    border: none;
    color: #ffffff;
    font-size: 16px;
    height: 40px;
    margin: 0px 0px 15px 0px;
    width: 200px;
}

@media screen and (max-width: 650px) {
    #name {
        margin: 0;
        text-align: center;
        width: 100%;
    }
    ul {
        justify-content: center;
        width: 100%;
    }
}