body {
    background-image: url(/Assets/Images/papyrus/papyrus.png)
}

header {
    border-bottom: solid 1px #afafaf;
    background-color: white;
    padding: 0px;
    margin: 0px auto 20px auto;
}

h1 {
    border-bottom: solid 2px #afafaf;
    color: teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
}

img {
    padding-bottom: 20px;
    width: inherit;
}

a {
    color: #777777;
}

.main_content {
    background-color: white;
    border: 1px solid #afafaf;
    margin: 0 auto 40px;
    width: 960px;
}

.footer {
    background-color: #777777;
    border-top: 5px solid teal;
    color: #afafaf;
    font-size: 10px;
    line-height: 60px;
    text-align: center;
}

.no-padding {
    padding: 0px;
}

#name {
    background-color: teal;
    color: white;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    padding: 10px;
}